<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Leankor" thread-count="3" annotations="JDK" verbose="2" parallel="none">
  
  <test name="Test On QA5">
  <parameter name="browser" value="chrome"/>
    <classes>
    	  <class name="test_package.TestLoginFunction">
    	  	<methods>
    	  		<exclude name="UserName"/>
    	  		<exclude name="Password"/>
    	  		<exclude name="LoginButton"/>
    	  	</methods>
    	  	
    	  	
    	  	
    	  	
    	  </class>
    	  
    	  <!-- This script is for Bulk data creation of kanban card on Kanban Board -->
    	  <class name="test_package.TestFolderProjectKanbanCard">
    	  	<methods>
    	  		<exclude name="CreateFolderProjectKanbanBoard"/>
    	  		<exclude name="CreateKanbanCard"/>
    	  		<exclude name="Stickers"/>		<!--This needs to exclude for upload sticker on kanban board  -->    	  		
    	  	</methods>
    	  </class>
    	  
    	  <class name="test_package.TestApplyStickerToAllKanbanCard">
    	  	<methods>
    	  		<exclude name="ApplyStickersOnBacklogMasterContainer"/>
    	  		<exclude name="ApplyStickersOnInProgressMasterContainer"/>
    	  		<exclude name="ApplyStickersOnReviewAndApprovalMasterContainer"/>
    	  		<exclude name="ApplyStickersOnDoneMasterContainer"/>
    	  		<exclude name="ApplyStickersOnArchiveMasterContainer"/>
    	  	</methods>
    	  </class>
    	  
    	  
    	  <class name="test_package.TestCalenderViewForKanbanBoardAndDependency">
    	  	<methods>
    	  		<exclude name="CalenderViewIcon"/>
    	  		<exclude name="DependencyFinishToFinish"/>
    	  		<exclude name="DependencyFinishToStart"/>
    	  	</methods>
    	  </class>
    	  <!-- Till Here Bulk Data Creation Script -->
    	  
    	  
    	  
    	  <!--This is separate functionality  -->
    	  <class name="test_package.TestPlanGanttActivityAndKanbanCardLinkToActivity">
    	  	<methods>
    	  		<exclude name="KanbanBoard"/>
    	  		<exclude name="PlanGantt"/>
    	  	</methods>
    	  </class>
    	  
    	  <class name="test_package.TestPlanGanttActivityDependency">
    	  	<methods>
    	  		<exclude name="PlanGanttDependencyFinishToStart"/>
    	  	</methods>
    	  </class>
    	  <!--This is separate functionality  -->
    	  
    	  
    	  <class name="test_package.TestLeankorBetaUninstall">
    	  	<methods>
    	  		<exclude name="SetUp"/>
    	  		<exclude name="RemovePermissionSets"/>
    	  		<exclude name="DeactivateProcessBuilder"/>
    	  		<exclude name="SwitchToLightningAndRemoveLeankorLogo"/>
    	  		<exclude name="LeankorBetaUninstall"/>
    	  	</methods>
    	  </class>
    	  
    	  
    	  <class name="test_package.TestLeankorBetaInstall">
    	  	<methods>
    	  		<exclude name="LeankorBetaInstall"/>
    	  	</methods>
    	  </class>
    	  
    	  
    	  <class name="test_package.TestCreateKanbanCardsOnDifferentMasterContainers">
    	  	<methods>
    	  		<exclude name="KanbanBoard"/>
    	  		<exclude name="KanbanCard"/>
    	  		<exclude name="AddTaskToBacklogMasterContainer"/>
    	  		<exclude name="AddTaskToInProgressMasterContainer"/>
    	  		<exclude name="AddTaskToReviewAndApprovalMasterContainer"/>
    	  		<exclude name="AddTaskToDoneContainer"/>
    	  		<exclude name="AddTaskToArchiveContainer"/>
    	  	</methods>
    	  </class>
    	  
    	  
    	  
    	  <!--Single Kanban Card Regression Script -->
    	  <class name="test_package.TestKanbanBoardRegression">
    	  	<methods>
    	  		<include name="SingleKanbanCard"/>
    	  		<include name="UpdateKanbanCard"/>
    	  		<include name="KanbanCardStatus"/>
    	  		<include name="KanbanCardTask"/>			<!-- Add Task for Kanban card -->
    	  		<include name="EditKanbanCardTask"/>		<!--Edit TaSk -->
    	  		<include name="KanbanCardLogTime"/>			<!-- Add Log Time for Kanban card -->
    	  		<include name="EditKanbanCardLogTime"/>		<!--Edit LogTime -->
    	  		<include name="KanbanCardRisk"/>			<!-- Add Risk for Kanban card -->
    	  		<include name="EditKanbanCardRisk"/>		<!-- Edit Risk -->
    	  		<include name="quickActionKanbanCard"/>
    	  		<include name="KanbanCardLink"/>
    	  		<include name="KanbanCardSubscriber"/>
    	  		<include name="KanbanCardCustomField"/>		<!-- Test Custom Field -->
    	  		<include name="kanbanCardResource"/>		<!-- Newly added feature in 1.271 on kanban card -->
    	  		<include name="KanbancardCardMode"/>
    	  		<include name="UploadStickerOnKanbanCard"/>
    	  		<include name="CloneKanbanCard"/>
    	  		<include name="KanbanCardHyperJump"/>
    	  		<include name="KanbanCardHierarchy"/>
    	  		<include name="KanbanCardFiles"/>
    	  		<include name="DeleteKanbanCard"/>
    	  	</methods>
    	  </class>
    	  
    	  <!-- Add to Board Fan Button all functions -->
    	  <class name="test_package.TestAddToBoardFanButton">
    	  	<methods>
    	  		<include name="AddTextToKanbanBoard"/>				<!--Add Text to kanban Board  -->
    	  		<include name="ResizeText"/>						<!-- Resize that text -->
    	  		<include name="LinkText"/>
    	  		<include name="ShuffleTextBehindAnotherText"/>
    	  		<include name="ShuffleTextFrontAnotherText"/>
    	  		<include name="ChatterOnText"/>
    	  		<include name="UpdateTextArea"/>
    	  		<include name="AddVisualAnalytic"/>					<!-- Add Visual Analytic to kanban board And need to change script for drag and drop-->
    	  		<include name="AddImageToKanbanBoard"/>				<!-- Add Image To Kanban Board -->
    	  		<include name="LinkImageToKanbanCard"/>
    	  		<include name="LockImage"/>
    	  		<include name="CloneImage"/>
    	  		<include name="ImageShuffleUpAndDown"/>
    	  		<include name="ResizeImage"/>
    	  		<include name="ChatterOnImage"/>
    	  		<include name="AddKanbanCard"/>
    	  		<include name="UploadSticker"/>
    	  	</methods>
    	  </class>
    	  
    	  <!-- Kanban board Setting left ToolBtn  -->
    	  <class name="test_package.TestKanbanBoardSetting">
    	  	<methods>
    	  		<include name="kanbanBoardMyPreference"/>
    	  		<include name="kanbanBoardSecurity"/>
    	  		<include name="kanbanBoardSecurityUncheck"/>
    	  		<include name="casesCard"/>
    	  		<include name="opportunityCard"/>
    	  		<include name="defaultLinkKanbanBoard"/>		<!-- Test Default Link -->
    	  		<include name="boardSetting"/>
    	  		<include name="inboundEmail"/>
    	  		<include name="saveKanbanBoard"/>
    	  		<include name="cloneKanbanBoardStartDate"/>
    	  		<include name="cloneKanbanBoardDueDate"/>
    	  		<include name="filter"/>
    	  		<include name="collapseExpandMasterContainer"/>
    	  		<include name="collapseAllMasterContainerCheckbox"/>
    	  		<include name="expandAllMasterContainerCheckbox"/>
    	  		<include name="panBoard"/>
    	  		<include name="resetBoard"/>
    	  		<include name="viewSaveAsPdf"/>
    	  		<include name="viewAllChatter"/>
    	  		<include name="chatterOnCardCategory"/>
    	  		<include name="viewAllCardHistoryOfkanbanBoard"/>
    	  		<include name="createCardNewIcon"/>
    	  		<include name="undo"/>
    	  		<include name="cloneBacklogMasterContainer"/>
    	  		<include name="hyperjumpReviewAndApproveMasterContainer"/>
    	  	</methods>
    	  </class>
    	  
    	  <class name="test_package.TestEditKanbanBoard">
    	  	<methods>
    	  		<exclude name="createEditMasterContainer"/>
    	  	</methods>
    	  </class>
    	  
    	  
    	  <!-- White Board Regrresion Script -->
    	  <class name="test_package.TestWhiteBoardRegression">
    	  	<methods>
    	  		<exclude name="folderProjectValueStream"/>
    	  		<exclude name="addTextToBoard"/>
    	  		<exclude name="linkTextWhiteBoard"/>
    	  		<exclude name="resizeTextWhiteBoard"/>
    	  		<exclude name="shuffleTextUpAndDownArrowOnWhiteBoard"/>
    	  		<exclude name="chatterOnTextWhiteBoard"/>
    	  		<exclude name="editTextOnWhiteBoard"/>
    	  		<exclude name="deleteTextFromWhiteBoard"/>
    	  		<exclude name="addVisualAnalyticWhiteBoard"/>
    	  		<exclude name="cloneVisualAnalyticChart"/>
    	  		<exclude name="delectVisualAnalyticChart"/>
    	  		<exclude name="addImageOnWhiteBoard"/>
    	  		<exclude name="cloneImageWhiteBoard"/>
    	  		<exclude name="resizeImageWhiteBoard"/>
    	  		<exclude name="shuffleImageOnWhiteBoard"/>
    	  		<exclude name="chatterOnImageWhiteBoard"/>
    	  		<exclude name="linkOnImageWhiteBoard"/>
    	  		<exclude name="deleteImageWhiteBoard"/>
    	  		<exclude name="addKanbanCardWhiteBoard"/>
    	  		<exclude name="updateKanbanCardOnWhiteBoard"/>
    	  		<exclude name="kanbanCardStatusWhiteBoard"/>
    	  		<exclude name="kanbanCardTaskWhiteBoard"/>
    	  		<exclude name="updateTaskWhiteBoard"/>
    	  		<exclude name="kanbanCardLogtimeWhiteBoard"/>
    	  		<exclude name="kanbanCardEditLogtimeWhiteBoard"/>
    	  		<exclude name="kanbanCardRiskOnWhiteBoard"/>
    	  		<exclude name="kanbanCardEditRiskOnWhiteBoard"/>
    	  		<exclude name="kanbanCardLinkingWhiteBoard"/>
    	  		<exclude name="kanbanCardSubscriberWhiteBoard"/>
    	  		<exclude name="kanbanCardCustomFieldWhiteBoard"/>
    	  		<exclude name="cardModeKanbanCardWhite"/>
    	  		<exclude name="uploadStickerWhiteBoard"/>
    	  		<exclude name="cloneWhiteBoardCardWithStartDateAndDueDate"/>
    	  		<exclude name="hyperJumpWhiteBoardCard"/>
    	  		<exclude name="hierarchyWhiteBoard"/>
    	  		<exclude name="filesUploadOnWhiteBoard"/>
    	  		<exclude name="deleteWhiteBoardCard"/>
    	  		<exclude name="whiteBoardPreferences"/>
    	  		<exclude name="whiteBoardSecurityCheck"/>
    	  		<exclude name="whiteBoardSecurityUncheck"/>
    	  		<exclude name="caseCardOnWhiteBoard"/>
    	  		<exclude name="opportunityCardOnWhiteBoard"/>
    	  		<exclude name="defaultLinkWhiteBoard"/>
    	  		<exclude name="boardSettingWhiteBoard"/>
    	  		<exclude name="inboundEmailsWhiteBoard"/>
    	  		<exclude name="whiteBoardCloneWithStartDate"/>
    	  		<exclude name="whiteBoardCloneWithDueDate"/>
    	  		<exclude name="zoomInZoomOutIconWhiteBoard"/>
    	  		<exclude name="panAndResetWhiteBoard"/>
    	  		<exclude name="chatterOnWhiteBoard"/>
    	  		<exclude name="chatterOnCaseCardWhiteBoard"/>
    	  		<exclude name="chatterOnOpportunityCardWhiteBoard"/>
    	  		<exclude name="viewAllCardHistoryWhiteBoard"/>
    	  		<exclude name="boardDesignWhiteBoard"/>
    	  		<exclude name="createZoneOnWhiteBoard"/>
    	  	</methods>
    	  </class>
    	  
    	  
    	  <!--Create 100 Cards with 3 task each on it and clone backlog master container to inprogress,review&approval,and other two mst cont.  -->
    	  <class name="test_package.TestCreateKanbanCardWithThreeTask">
    	  	<methods>
    	  		<exclude name="CreateHundredKanbanCardWithThreeTaskEach"/>
    	  		<exclude name="CloneBackLogMasterContainerCardsToInProgressMasterContainer"/>
    	  		<exclude name="CloneBackLogMasterContainerCardsToReviewAndApprovalMasterContainer"/>
    	  		<exclude name="CloneBackLogMasterContainerCardsToDoneMasterContainer"/>
    	  		<exclude name="CloneBackLogMasterContainerCardsToArchiveMasterContainer"/>
    	  		<exclude name="CloneKanbanBoard"/>
    	  	</methods>
    	  </class>
    	  
    	  <!-- Create 150 category on kanban card -->
    	  <class name="test_package.TestDummyClass">
    	  	<methods>
    	  		<exclude name="TowardsFolderBoard"/>
    	  		<exclude name="Category"/>
    	  	</methods>
    	  </class>
    	  
    	  
    	  
    	    <!--This is linkingof kanban card and activity in constraints functionality  -->
    	  <class name="test_package.TestLinkingOfcardAndActivityInconstraints">
    	  	<methods>
    	  		<exclude name="KanbanBoard"/>
    	  		<exclude name="Setup"/>
    	  	</methods>
    	  </class>
    	  
    	  
    	  
    	  
    	     <!--This is Creating Cards On CV Board -->
    	  <class name="test_package.TestCreateCardsOnDifferentMasterContainersOnCV">
    	  	<methods>
    	  		<exclude name="KanbanBoard"/>
    	  		<exclude name="KanbanCard"/>
    	  	</methods>
    	  </class>
    	  
    	  
    	
    	   
    	     <!-- This is for adding the milestone for card in CV-->
    	  <class name="test_package.TestCreateCardsOnDifferentMasterContainersOnCV">
    	  	<methods>
    	  		<include name="KanbanBoard"/>
    	  		<include name="Create_milestoneOnCv"/>
    	  	</methods>
    	  </class>
    	  
    	  
    	  
    	     <!-- This is for adding Multiple cards on different MC In calendar view -->
    	  <class name="test_package.TestToCreatingMultipleCardsOnDifferentMasterContainerInCV">
    	  	<methods>
    	  		<include name="KanbanBoard"/>
    	  		<include name="Create_milestoneOnCv"/>
    	  	</methods>
    	  </class>
    	  
    	  
    	  
    	  
    	  
    	  
    	   
    </classes>
  </test>
  <!-- Test on QA5-->
</suite> <!-- Suite -->